<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<title>K-Nopaste :: %title% :: powered by Knutshome.de</title>
<link rel="stylesheet" type="text/css" href="templates/knut.css" />
</head>

<body>

<div id="toplayer">
<table width="100%">
	<tr>
		<td><span class="title">%VERSION%</span></td>
		<td>%tl_links%</td>
	</tr>
</table>
</div>

<div id="mainlayer">
%mainlayer%
</div>

<div id="bottomlayer">
	<table width="100%">
		<tr>
			<td class="bl_left">
				&copy; 2005 by K. Ahlers - <a href="http://www.knutshome.de">Knutshome.de</a>
			</td>
			<td class="bl_right">
				Valid <a href="http://validator.w3.org/check/referer">xHtml</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
			</td>
		</tr>
	</table>
</div>

</body>
</html>
